{% extends "base.html" %}
{% block sub_title %}분류 - <small>이미지</small>{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/classification" method="POST" enctype="multipart/form-data">
                <table class="table table-borderless">
                    <tr>
                        <td>이미지</td>
                        <td>
							<input type="file" id="image" name="image">						 
						</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">업로드</button>&nbsp;&nbsp;
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}